.env
.idea/*
.venv/*
.terraform/*
modern-rhythm-444518-n9-e0acd1e9524d.json
/__pycache__
/temp
venv/*
projektgrupowy-461008-b8b0c1351b52.json
c__Users_Marcin_Desktop_Github_PROJ1_graf.png
graf.excalidraw
infrastruktura.drawio
infrastruktura.png
